[class*="col-"] {
    background-color: #c9bad7;
    border: 1px solid #948b9d;
    border-radius: 6px;
    color: #6a6073;
    line-height: 40px;
    text-align: center;
}

#infos,
fieldset p {
    text-align: left;
}